.collection-preview {
    display: flex;
    flex-flow: column nowrap;

    &__container {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -10px;

        @media(max-width: $md) {
            justify-content: center;
        }
    }

    &__title {
        font-family: 'Playfair Display', serif;
    }
}