.collection-preview {
    display: flex;
    flex-flow: column nowrap;

    &__container {
        display: flex;
        flex-flow: row wrape;
    }

    &__title {
        font-family: 'Playfair Display', serif;
    }
}