.collection-item {
    display: flex;
    transform: scale(1);
    width: 100%;
    min-width: 200px;
    height: 200px;
    position: relative;
    margin: 5px;
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid $twilight-rider-50;
    box-shadow: 0px 10px 35px -5px rgba(0,0,0,0.75);

    transition: border-radius 0.75s ease-in-out;
    width: calc(25% - 10px);

    &:before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        @include night-rider-gradient;
    }

    @media(max-width: $md) {
        width: calc(50% - 40px);
        height: 400px;
    }

    @media(max-width: $xs) {
        width: 100%;
    }

    &__image {
        position: absolute;
        border-radius: 8px;
        left: 0;
        right: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        transition: transform 0.55s ease-in-out;

        .collection-item:hover & {
            transform: scale(1.15);
        }
    }

    &__footer {
        color: $white;
        font-size: 20px;
        padding: 10px 15px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        z-index: 3;
        left: 0;
        right: 0;
        bottom: 0;
    }
}