.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    &__item {
        display: flex;
        height: 200px;
        width: 100%;
        width: calc((100%/3) - 22px);
        min-width: 200px;
        margin: 10px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $xs) { 
            width: 100%;
        }


        &--big {
            width: calc((100%/2) - 23px);   
            height: 300px;
            min-width: 200px;

            @media (max-width: $sm) {
                height: 200px;
            }

            @media (max-width: $xs) { 
                width: 100%;
            }
        }
    }
}